<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field "name", :placeholder => "Enter Name" %> 
  <%= f.text_field "total_amount", "size" => 5, :placeholder => "Enter total amount" %> 
  <%= f.text_field "paid_amount", "size" => 5, :placeholder => "Enter paid amount" %>   
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
