<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      </tr>
          <td><%= user.id %></td> 
          <td><%= user.name %></td>
          <td><%= user.total_amount %></td>
          <td><%= user.paid_amount %></td>  
      </tr>
      <tr>
          <td><%= link_to 'Show', user %></td>
          <td><a href="/users/<%= user.id %>?timestamp=1440568980">Filter By Time</a></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
