<p id="notice"><%= notice %></p>
<div><h4>Name:</h4> <b><%= @user.name %></b></div>
<div><h4>Total Amount:</h4> <b><%= @user.total_amount %></b></div>
<div><h4>Paid Amount:</h4> <b><%= @user.paid_amount %></b></div> 

  <% if params[:timestamp] %> 
    <% if @user_histories %>
    <br><br>
      <b>User Payment Histories</b>
        <% if @user_histories[0] %>
          <table>
            <thead>
              <th>Name</th>
              <th>Total Amount</th>
              <th>Paid Amount</th>        
            </thead>
            <tbody> 	
              <% @user_histories.each do |data| %>
                <tr>
                  <td><%= data.name %></td>
                  <td><%= data.total_amount %></td>
                  <td><%= data.paid_amount %></td>              
                </tr>	
              <% end %>
            </tbody>
          </table>  
        <% else %>
           <h3 style="color:red">No histories in this time</h3> 
        <% end %>  
    <% end %>  
  <% end %>  


<%= link_to 'Edit', edit_user_path(@user) %> 
<%= link_to 'Back', users_path %>
